.slds-cell-edit:hover .edit-icon {
    display: inline-block;
}

.tableWidth {
    width:60px;
}

td {
    padding-left: 6px !important;
    padding-right: 3px !important;
}

.wrapText {
    text-wrap: balance;
}

th {
    padding-left: 5px !important;
}

.decriptionRow{
    min-height: 1.8rem;
    display: block;
}

.slds-table:not(.slds-no-row-hover) tbody tr.tr-hover:hover > td {
    background-color: var(--slds-g-color-error-base-40,#b94a48) !important;
}

.color_black {
    color: black !important;
}