.slds-modal__container {
    min-width: 60rem;
}

.bottom_margin {
    margin-bottom: 2.4rem;
}

.slds-spinner_container {
    background-color: transparent !important;
    position: fixed;
}

.slds-c-icon-color{
    background-color: #0c0c0c;
}

.background{
    background-color: #f3f3f3;
}